/*
  Component Stylesheet
  description: write reusable component such as button and badge here
*/

.btn {
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}
.btn-primary {
  background-color: #1877f2;
  color: #fff;
}
.btn-green {
  background-color: #42b72a;
  color: #fff;
}


.icon-round {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #F0F2F5;
  color: black;
  border: none;
  border-radius: 50%;
  text-decoration: none;
  width: 44px;
  height: 44px;
}


.avatar {
  border: 1px solid #F0F2F5;
  border-radius: 50%;
}
.avatar-small {
  width: 36px;
  height: 36px;
}
.avatar-medium {
  width: 48px;
  height: 48px;
}


.card {
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
}


.form-input {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #F0F2F5;
  border-radius: 24px;
  padding: 0 12px;
}
.form-input > .material-icons {
  font-size: 1.4rem;
  color: gray;
  margin-right: 8px;
}
.form-input > input {
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 8px;
}


.scale-hitbox .scale {
  transition: scale 0.05s ease-out;
}
.scale-hitbox:active .scale {
  scale: 1.3;
}



@media (min-width: 1024px) {
  .card {
    border-radius: 15px;
  }
}
